<div class="container">
  <div class="row">
    <div class="display-t">
      <div class="display-tc">
        <h1>TOP popular Lifestyle sites in India</h1>
      </div>
      <hr>
    </div>
    <div class="health">
      <div class="newhealth">
        <div class="style">
          <a href="https://www.boldsky.com/" target="_blank" class="health" rel="nofollow">
            <img class="lifestyle" src="data:image/ico;base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAWpJREFUOI1j/P//PwMlgMV+2dtrME66qfC8KFWGHmwKa08zLDh0+60ZAwMDg7Wy8Pk2c4ZoBgYGBpaLFy5owhS90XMWxWXTo88MsjC1kqLO72DiTCiq/jMwkuoFFAN+/WVgocgAcgATIxPTXxjnHwMDKy6Fv/+hyP2DG+Do6HgWxll67K7/2x8MUuiab35gMN1z8KgpjK8uyHAXxma88va/jdOEY7t+/vjOycDAwCAoKPQ+y8twsa4gw4Vf/xhYTr9isJ6x6UjE718/2RkYGBg4ubi+nSixNJPnYbjKwMDAwPj//3+GG+8ZzDO2f5h34cJZLXz+VVJSergwTDFGV4jhCNwFsJT47z8D88mXDF6bHzKEzN16LBTmImER0Tchtnq7XeQYtjlIMqxmZWL4iWLq////MbD14tfX+Uv3/Ocv3fO/6Mj/VdjUwDDl0UipAVhTXoyhyJrXms4SDAwMDLrCDGfwGcBIaXYGANfOnFVFjqyzAAAAAElFTkSuQmCC"
              alt="" class="imghealth">boldsky.com</a></div>
      </div>
    </div>
    <div class="health">
      <div class="newhealth">
        <a href="https://www.popxo.com/" target="_blank" class="health" rel="nofollow">
          <img src="data:image/ico;base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAoNJREFUOI2Nk01IVFEYhp/v3Dt3hpnQnNH8abAC/yqxxBYuql1QVouWLiJEDFpli6hWEeGmASuKIMJsk4soCiT6oWWQS4Uswz+qaRwxdSy75b1z72kxo5kt7FudA+97zve93/sKa2o81FQZLmy4iaHqEYkCoPUcWX/4x8L7M1VLA2Or8bL6MlXW9tQKWC0+Gl9rNDoPEpQICsF1nOdl072H/nkgVdH+LmSY25e0t7apvyooBo6X/VCW6qkDUMs//w8ZYMn3sAyzNl3a9hxAxkNNlRtL9nx01iO7Gj2dAbJINEYwEmAx/bZehQsbbvr5WXXShqSbIyRddHLxz3l6luhIgnL9BNkcwrM9ArGaKwpD1ftao5M2G/o7ME9tx09OYp5tpPDNeXRyBtW6hXL9mKXBEeyBQczDdXizWVBqp0IkmlNbI4ai+NY5ikfvEr3YweLlPtSuzWzqu8TXzm7wNeHm3bi3h6DYQIQitbKOeITvLdeY3ncGq6oSFQljNMQpeZ3g24MXbOg4SkFrC5k7D9HzNoQEDSJTFe0TSqltvu2BByWTV5k93oXRUEnByWMEtlas6Dh//T6/Oh8h8RgKwfO9TzK1qa3ftAJH3GSG2EQ3mdM38PpTkBc2NtqFb/8ksz+BXrCReAQAUxSe4z6Tz8HmqrBVP+qfqEEv/sK7NwZxK790jZ6ZBxRSVACRlYkJisFCeqJRANKlbc8CtnHQyXoQM9Y1kyUGjuu8Kk/3HlixcrqifcQyzNr13GjlrDxWnuqphryVAcpSPXWO47wIioEpCoUg5MKiEExRuRy4zqtlMqxJI8BHa+8OK1qdQKmdIhRpEK31vPL0cHbuy4W4+3JoNf43KMcDzM9EB0wAAAAASUVORK5CYII="
            alt="" class="imghealth">popxo.com</a></div>
    </div>
    <div class="health">
      <div class="newhealth">
        <a href="https://herbeauty.co/" target="_blank" class="health" rel="nofollow">
          <img src="data:image/ico;base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAVVJREFUOI3dUUFKA0EQrJqZ3c0KsruRBASvfiGH/EBPgZCDN/HkCzx68C4+QMwz8gn9gF4kRAIiBiKJSdadaQ/uxon4AS0omKZ7qrurgb8PEdEigpJGRAIvjrvd7lFZt8EKCoBNkiRP0/SOZAHgI03T+yzLXkguxuNxCwCyLLtJkkQajcZJs9m8jqLoFgAMSWitC+fcHABIguScZE1E0Ov1LADMZrOHoigAoC8ifZKitb5Q3qf1XCSFZPX+GlUpXeWDIDhVSi2ttefKs6PmCWwBEJJYrVYbnoVheGiMaZG8AgDj5Zaese+lCIbD4YZAnucDAAOl1FMcxwcKv4MABACMWfdwfoFz7jkMwz0jItBaxyJS9/L1HzGstfulF8fGmDfn3O50Oj2DiOxUtx2NRvFkMkn8e7fb7ctyrYqRiGxXwobkq9doUXKNTqfzCHxfA8Cq5H/BJ5Guq1tQXgECAAAAAElFTkSuQmCC"
            alt="" class="imghealth">herbeauty.co</a></div>
    </div>
    <div class="health">
      <div class="newhealth">
        <a href="https://www.leaf.tv/" target="_blank" class="health" rel="nofollow">
          <img src="data:image/ico;base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAAXNCSVQI5gpbmQAAAAJiS0dEAACqjSMyAAAAnUlEQVQYlWNgIAKIoPCYGBgK4Bz7mXwMLAwMf+AChoXfGJiQlaslMDCwMDD8Zyjl2XiOoYx1JcMrBgYGBobKNiGGdsVpYgxbJokzMDAzMAQoitkxqF04xXDE5sQnBhYGhp8nexn4uJMZGByZGBgYWBgYvjyo+8tb8a7lh+IHRpjxXBAqR5kBau03iAAzAwOqO5iZIIJw8OPJT0yvAgAY1SF7rfcEMQAAAABJRU5ErkJggg=="
            alt="" class="imghealth">leaf.tv</a></div>
    </div>
    <div class="health">
        <div class="newhealth">
          <a href="https://www.fatdecimator.com/" target="_blank" class="health" rel="nofollow">
            <img src="data:image/ico;base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAUVJREFUOI3dkL9LAmEYxz/Pe1doiEQ/jMKpoaDMrobmgraCFnFvCgKH5v6UJsdqa2oIamiKSBGH5nIwA9ECiavuabg77xL/gXqmh5fvj8/7wJ8fCZezSstR8RYGBZ7qnRHZ+GVS4xnb1AsrU492+Fgs144RCoN+VA4QPRlS7j53dbYfgOD0d9VbEBfRJuhiH1RpIGQD1SiAAeDwOgXMB6Ie3+kdXGuP9Nw+iBMriUiURjZNxydIfOVQMYFoDPu9iw28NUuI5mOnik9VRDzfpMYZpgCvBZIJKtsokzGaWvQFdDUySYm2laRtJfGkFyFLDeJ3ogIQHFGdPqbwQHnrA4Cjq3yUq0sgE1GAdQ9gVNWgkguZ+UzVYy1rMbJMVMgl45tPfq5q4rz6uusb1C2uz1yEltPKyzaiUSugmI4Zmb4pLovL/5gfwyFpHWUuJH0AAAAASUVORK5CYII="
              alt="" class="imghealth">herbeauty.co</a></div>
      </div>
  </div>
</div>