.newhealth {
  font-weight: 700;
}

.imghealth {
  margin-right: 10px;
}

.health {
  padding-bottom: 10px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #00BCD4;
}
@media only screen and (max-device-width: 480px) {
  .health{
    margin-left: 10px;
  }
}