<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center animate-in" data-anim-type="zoom-in" data-anim-delay="100">
      <div class="display-t">
        <div class="display-tc">
          <h1>TOP popular Medicine sites in India</h1>
        </div>
      </div>
      <div class="newhealth">
        <div class="newhealth1">
          <div class="style__rating__cell___3Cfzh style__rating__cell--site___ouwcC">
            <a href="https://rr-go.com/go/84996/?r=https://www.ratrating.com/tops/health-and-beauty/medicine/in" target="_blank"
              class="style__rating__cell-link___3GDo-" rel="nofollow">
              <img src="data:image/ico;base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAA3NCSVQICAjb4U/gAAAAS1BMVEXDFRvCEhnUU1jDFhzHDhjFFBrFFRvEFRvFFBvDFRvu9+///PzMNjtKvWFQv2bSTFH29PH01NXb8uCZ0p+d06KT0ps2tU43tVA3tU9OpPnRAAAACnRSTlP+////EoeN7Yr5dss8oQAAAHVJREFUGJV1j1sWgzAIREmIEiFgfLXuf6WN2hOtPc4XXF4DhIYQYRcixQBNhxd1EUod3VclpK0Rk9+Vtp4CXBokzxPLkNwB+ixsyiK+Ah5NR84VzGbv1WypYFJdX6on4GOE/dPS+9mbsT/r8fe5FkKkM6c2fABSywZPQFdVfQAAAABJRU5ErkJggg=="
                alt="" class=" style__rating__cell-icon___8gtdw global__marr-10___3hIij">medplusmart.com</a>
          </div>
        </div>
      </div>
      <div class="style__rating__cell___3Cfzh style__rating__cell--site___ouwcC">
        <a href="https://rr-go.com/go/93066/?r=https://www.ratrating.com/tops/health-and-beauty/medicine/in" target="_blank"
          class="style__rating__cell-link___3GDo-" rel="nofollow">
          <img src="data:image/ico;base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAkFJREFUOI19kz9ME2EYxn8FWViIo4mLCUEswWAgwLXAXVUKre11MSaGuBgnBwcTAgQSB4KVVhCI6GaiAw7GaIiRQZSAtle0BBFIKpW7i0k5/lWDC4PAObQWIy3v8v15n+f5nu/9vtfCYRFQYljIY8d8RYftZjZI3iHkTXb3ntIqlJCPnAtmybobVDbYMYfosHXT+baBo4VjmMTZNadot93I6cCEYvqjc1CQIt+adFJUOEpy20mrUEF+vjunY7XO/VgX5S/J6roVE7w8MESCkR90TTQD4A/3++5MrWxUVU0fIH8tqSzVJFkFUKz11UattH7NP7nAwFIjALdDfgZmVQDd7nqmS/J8hqzVux+qojesSbKh1rkHAcaLq62G4Ng04Sx3Z7u5F00kKysW9jmeF7ooz6UWki+RSUiytmxzDafrceJXRVnies/ELIBWKbXpkm9tX+TCa73eM4rW4H2piZ6pTC0kWVuzlgxyX73qCEbmt06fMmLlNTKAKjR1aA7fRkZE9H5OTRo8IU30vPubmGnpUuibMdJOLKt258+5M2IzwHKNs01zyNu6JM/HS2tF/lELJ4RzbxjWL9MXXc0kApGRxuD0B0OQkvFy4WL6qp+yPuWm4BijP7pOy9BxAHpDIwSUpbSTk98bLyV00bsUL7N7swrgMiEYiQHgDz0hEP6270RRGFp8/j/l4Ffued9JwZErWCiiVTiWJkfY29ui3d6U/eRsEVAWU2P4I73h8Vyw3N34e+cRQWUZ0xKjzXY+F+wPqyTr6DgN4MsAAAAASUVORK5CYII="
            alt="" class=" style__rating__cell-icon___8gtdw global__marr-10___3hIij">medibuddy.in</a>
      </div>
    </div>
  </div>

  <!-- <div class="list">
    <ul>
      <li *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }">{{ item }}</li>
    </ul>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div> -->