<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center animate-in" data-anim-type="zoom-in" data-anim-delay="100">
      <div class="display-t">
        <div class="display-tc">
          <h1>Most popular tops of the websites:</h1>
        </div>
        <hr>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2 col-xs-4">
            <button (click)="lifestyle()" class="health"> <img src="../../assets/img/lifestyle.png" height="100px" width="100px" /></button>
            <div>Life Style</div>
          </div>
          <div class="col-sm-2 col-xs-4">
            <button (click)="medicine()"> <img src="../../assets/img/medicine.png" height="100px" width="100px" /></button>
            <div>Medicine</div>
          </div>
          <div class="col-sm-2 col-xs-4">
            <button (click)="movies()">
              <img src="../../assets/img/movie.png" height="100px" width="100px" />
            </button>
            <div>Movies</div>
          </div>
          <div class="col-sm-2 col-xs-4">
            <button (click)="education()"> <img src="../../assets/img/edu.png" height="100px" width="100px" /></button>
            <div>Education</div>
          </div>
          <div class="col-sm-2 col-xs-4">
            <button (click)="software()"> <img src="../../assets/img/software.png" height="100px" width="100px" /></button>
            <div>Computer Software</div>
          </div>
          <div class="col-sm-2 col-xs-4">
              <button (click)="health()">
                <img src="../../assets/img/beauty.png" height="100px" width="100px" />
              </button>
              <div>Health & Beauty</div>
            </div>
        </div>
      </div>
      <hr>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2 col-xs-4">
            <button (click)="music()" class="health">
              <img src="../../assets/img/music.png" height="100px" width="100px" />
            </button>
            <div>Music</div>
          </div>
          <div class="col-sm-2 col-xs-4">
            <button (click)="torrent()"> <img src="../../assets/img/torrent.png" height="100px" width="100px" /></button>
            <div>Torrent</div>
          </div>
          <div class="col-sm-2 col-xs-4">
            <button (click)="game()"> <img src="../../assets/img/game.png" height="100px" width="100px" /></button>
            <div>Game</div>
          </div>
          <div class="col-sm-2 col-xs-4">
            <button (click)="payment()">
              <img src="../../assets/img/payment.png" height="100px" width="100px" />
            </button>
            <div>Payment Systems</div>
          </div>
          <div class="col-sm-2 col-xs-4">
            <button (click)="program()"> <img src="../../assets/img/programming.png" height="100px" width="100px" /></button>
            <div>Programming</div>
          </div>
          <div class="col-sm-2 col-xs-4">
            <button (click)="travel()"> <img src="../../assets/img/travel.png" height="100px" width="100px" /></button>
            <div>Travel</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2 col-xs-4">
            <button (click)="bank()" class="health">
              <img src="../../assets/img/bank.png" height="100px" width="100px" />
            </button>
            <div>Banking System</div>
          </div>
          <div class="col-sm-2 col-xs-4">
            <button (click)="basket()"> <img src="../../assets/img/basketball.png" height="100px" width="100px" /></button>
            <div>Basketball</div>
          </div>
          <div class="col-sm-2 col-xs-4">
            <button (click)="computer()"> <img src="../../assets/img/computer.png" height="100px" width="100px" /></button>
            <div>Web Design & Development</div>
          </div>
          <div class="col-sm-2 col-xs-4">
            <button (click)="business()">
              <img src="../../assets/img/business.png" height="100px" width="100px" />
            </button>
            <div>Business</div>
          </div>
          <div class="col-sm-2 col-xs-4">
            <button (click)="invest()"> <img src="../../assets/img/investing.png" height="100px" width="100px" /></button>
            <div>Investing</div>
          </div>
          <div class="col-sm-2 col-xs-4">
            <button (click)="fitnes()"> <img src="../../assets/img/fitnes.png" height="100px" width="100px" /></button>
            <div>Fitnes</div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>