<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center animate-in" data-anim-type="zoom-in" data-anim-delay="100">
      <div class="display-t">
        <div class="display-tc">
          <h1>Most popular tops of the websites:</h1>
        </div>
        <hr>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <button (click)="health()" class="health">
              <img src="../../assets/img/beauty.png" height="100px" width="100px" />
            </button>
            <div>Health & Beauty</div>
          </div>
          <div class="col-sm-4">
            <button (click)="lifestyle()"> <img src="../../assets/img/lifestyle.png" height="100px" width="100px" /></button>
            <div>Life Style</div>
          </div>
          <div class="col-sm-4">
            <button (click)="medicine()"> <img src="../../assets/img/medicine.png" height="100px" width="100px" /></button>
            <div>Medicine</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <button (click)="movies()">
              <img src="../../assets/img/movies.png" height="100px" width="100px" />
            </button>
            <div>Movies</div>
          </div>
          <div class="col-sm-4">
            <button (click)="education()"> <img src="../../assets/img/edu.png" height="100px" width="100px" /></button>
            <div>Education</div>
          </div>
          <div class="col-sm-4">
            <button (click)="software()"> <img src="../../assets/img/software.png" height="100px" width="100px" /></button>
            <div>Computer Software</div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>